#header
  margin 50px auto
  background block-background
  padding 20px 0
  a
    color color-meta
    &:hover
      color color-link
      text-decoration none

  h1
    font-weight normal
    line-height 1

  h2
    font-weight normal
    line-height 1
    margin-top 10px
  .avatar
    border-radius avatar-radius
    -webkit-border-radius avatar-radius
    margin-left 20px

  .header-myinfo
    display: inline-block;
    margin: 10px 0 0 30px;
    .header-title
      margin-bottom: 15px;
      color color-font
    .header-subtitle
      color color-meta

  #main-nav
    font-family font-title
    font-size 2.5em
    line-height 1.2em
    margin-right 30px
    margin-top 30px
    ul
      list-style none
      li
        float left
        margin-left 20px
    a
      padding 10px