#header
  margin 150px auto 0
  background block-background
  padding 20px 0
  a
    color color-meta
    &:hover
      color color-link
      text-decoration none

  h1
    font-weight normal
    line-height 1

  h2
    font-weight normal
    line-height 1
    margin-top 10px
  
  .header-myinfo
    margin: 0 30px;
    @media screen and (min-width: 1001px)
      width 45%
    @media screen and (max-width: 1000px)
      width: 404px;
    @media screen and (max-width: 600px)
      margin: 5px 0 0 15px;
      width 92%
      
    &>a
      display inline-block
    .header-myinfo-con
      overflow hidden
      padding-top 10px
      padding-left 20px
      @media screen and (max-width: 600px)
        padding-top: 5px;
    .header-title
      margin-bottom 15px
      color color-font
    .header-subtitle
      color color-meta
      
  .avatar
    border-radius avatar-radius
    -webkit-border-radius avatar-radius
    @media screen and (max-width: 600px)
      width 60px


  #main-nav
    font-family font-title
    font-size 2.5em
    line-height 1.2em
    margin-top 30px
    overflow hidden
    @media screen and (max-width: 900px)
      font-size 1.5em
      margin-top: 45px
    @media screen and (max-width: 800px)
      font-size 1.5em
      margin-top 20px
      float right
    ul
      list-style none
      li
        float left
        margin-left 20px
    a
      padding 10px
      transition all 0.3s